name: check
on: [push]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true
      - uses: extractions/setup-just@v3
      - name: Install
        run: go mod download
      - name: Lint
        run: just lint
      - name: Test
        run: just test_short
      - name: Build
        run: just build
